<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Varela+Round&display=swap"
        rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>

    <title>COVID-19</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: rgb(91, 179, 238);
            font-family: 'Roboto', sans-serif;

            font-family: 'Varela Round', sans-serif;
            margin: 0;
            padding: 0;
        }

        .main-container {
            height: 100vh !important;
        }

        .container-info {
            min-height: 100vh;
            margin: 5100;
            padding: 1000;
            background-color: rgb(91, 179, 238);
        }

        .img {
            width: 100vh;
            height: 100vh;
        }

        .logo-container {
            filter: grayscale(1);
        }

        .form-container {
            border-radius: 15px;
        }

        .option-container {
            margin-top: -8px;
        }

        .nounderline {
            text-decoration: none !important
        }
    </style>
</head>

<body>

    <div class="main-container container-fluid">
        <div id="app">
            <div class="mx-auto text-center my-2 fs-1 fw-bolder text-white"><a class="link-light nounderline"
                    href="/">COVID-19. Predictor de riesgo de mortalidad</a></div>
            <div class="form-container col-xs-12 col-md-9 p-3 p-md-5 bg-light text-dark mx-auto" v-if="modoEditar">
                <div class="row">
                    <div class="col-xs-12 col-md-9">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                            </span>
                            <input v-model="nombre" type="text" class="form-control" placeholder="Nombre"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-calendar-week" viewBox="0 0 16 16">
                                    <path
                                        d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                    <path
                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                </svg>
                            </span>
                            <input v-model="edad" type="number" class="form-control" placeholder="Edad"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>

                <div>Selecciona tu género: </div>

                <div class="option-container row mx-1 border rounded p-1">
                    <div class="form-check col-xs-12 col-md-3">
                        <input v-model="sexo" class="form-check-input" type="radio" name="sexo" value="1"
                            id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Mujer
                        </label>
                    </div>
                    <div class="form-check col-xs-12 col-md-3">
                        <input v-model="sexo" class="form-check-input" type="radio" name="sexo" value="2"
                            id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Hombre
                        </label>
                    </div>
                    <div class="form-check col-xs-12 col-md-3">
                        <input v-model="sexo" class="form-check-input" type="radio" name="sexo" value="99"
                            id="flexRadioDefault3">
                        <label class="form-check-label" for="flexRadioDefault3">
                            Sin especificar
                        </label>
                    </div>
                </div>

    
                <div class="bg-light">Marca las opciones según tu caso: </div>
                <div class="option-container border rounded pt-3">
                    <div class="row mx-1">
                       
                        
                        <div class="col-xs-12 col-md-3 form-check">
                            <input v-model="diabetes" class="form-check-input" type="checkbox" value="diabetes" id="diabetes">
                            <label class="form-check-label" for="diabetes">
                                Diabetes
                            </label>
                        </div>

                        <div class="col-xs-12 col-md-3 form-check">
                            <input v-model="epoc" class="form-check-input" type="checkbox" value="epoc" id="epoc">
                            <label class="form-check-label" for="epoc">
                                Epoc
                            </label>
                        </div>


                        <div class="col-xs-12 col-md-3 form-check">
                            <input v-model="asma" class="form-check-input" type="checkbox" value="asma" id="asma">
                            <label class="form-check-label" for="asma">
                                Asma
                            </label>
                        </div>
                        
                    </div>

                    <div class="row mx-1">

                        <div class="col-xs-12 col-md-3 form-check">
                            <input v-model="inmusupr" class="form-check-input" type="checkbox" value="inmusupr" id="inmusupr">
                            <label class="form-check-label" for="inmusupr">
                                Inmunosupresión
                            </label>
                        </div>


                        <div class="col-xs-12 col-md-3 form-check">
                            <input v-model="tabaquismo" class="form-check-input" type="checkbox" value="tabaquismo"
                                id="tabaquismo">
                            <label class="form-check-label" for="tabaquismo">
                                Tabaquismo
                            </label>
                        </div>





                        <div class="col-xs-12 col-md-3 form-check">
                            <input v-model="cardiovascular" class="form-check-input" type="checkbox" value="cardiovascular"
                                id="cardiovascular">
                            <label class="form-check-label" for="cardiovascular">
                                Enfermendades cardiovasculares
                            </label>
                        </div>

                    </div>

                    <div class="row mx-1">

                        <div class="col-xs-12 col-md-3 form-check">
                            <input v-model="obesidad" class="form-check-input" type="checkbox" value="obesidad" id="obesidad">
                            <label class="form-check-label" for="obesidad">
                                Obesidad
                            </label>
                        </div>

                        <div class="col-xs-12 col-md-3 form-check">
                            <input v-model="renal_cronica" class="form-check-input" type="checkbox" value="renal_cronica"
                                id="renal_cronica">
                            <label class="form-check-label" for="renal_cronica">
                                Enfermedad renal crónica
                            </label>
                        </div>

                        <div class="col-xs-12 col-md-3 form-check">
                            <input v-model="otro_caso" class="form-check-input" type="checkbox" value="otro_caso" id="otro_caso">
                            <label class="form-check-label" for="otro_caso">
                                Contacto con algún confirmado de COVID-19
                            </label>
                        </div>
                    </div>
                </div>

               

                <div class="d-grid gap-2 mt-3">
                    <button v-on:click="analisis" id="btninicio" name="btninicio" class="btn btn-dark" type="button">PREDECIR MI RIESGO (IA)</button>
                </div>

                <br>
                <div>
                   <center> <a type="text" readonly value="" name="pre" id="pre"></a></center>
                </div>
                <br>
                <div class="d-grid gap-2 mt-3">
                    <button v-on:click="reiniciar"  class="btn btn-dark" type="button">REINICIAR TEST</button>
                </div>


            </div>
            



            




        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue.js!',
                nombre: '',
                sexo: '',
                entidad_res: '',
                neumonia: false,
                edad: '',
                diabetes: false,
                epoc: false,
                asma: false,
                inmusupr: false,
                hipertension: false,
                otra_com: false,
                cardiovascular: false,
                obesidad: false,
                renal_cronica: false,
                tabaquismo: false,
                otro_caso: false,
                clasificacion_final: '',
                modoEditar: true,
                show_modal: false,
                input_errors: [],
            },
            methods: {
                reiniciar(){
                    location.reload();
                },
                analisis(){
                    edadform = this.edad;
                    generoform = this.sexo;

                    diabetesform = this.diabetes;
                    epocform = this.epoc;
                    asmaform = this.asma;
                    inmusuprform = this.inmusupr;
                    tabaquismoform = this.tabaquismo;
                    cardiovascularform = this.cardiovascular;
                    obesidadform = this.obesidad;
                    renal_cronicaform = this.renal_cronica;
                    otro_casoform = this.otro_caso;
                    
                    edadnum=null;
                    generonum=null;
                    
                    diabetesnum=null;
                    epocnum=null;
                    asmanum=null;
                    inmusuprnum=null;
                    tabaquismonum=null;
                    cardiovascularnum=null;
                    obesidadnum=null;
                    renal_cronicanum=null;
                    otro_casonum=null;

                    if(edadform >= 0 && edadform <= 10 ){
                        edadnum = 01;
                    }
                    if(edadform >= 11 && edadform <= 22 ){
                        edadnum = 04;
                    }
                    if(edadform >= 23 && edadform <= 34 ){
                        edadnum = 10;
                    }
                    if(edadform >= 35 && edadform <= 46 ){
                        edadnum = 14;
                    }
                    if(edadform >= 47 && edadform <= 60 ){
                        edadnum = 20;
                    }
                    if(edadform >= 61 && edadform <= 80 ){
                        edadnum = 24;
                    }
                    if(edadform >= 81 && edadform <= 120 ){
                        edadnum = 30;
                    }



                    if(generoform == '2'){
                        generonum = 07;
                    }else if(generoform == '1'){
                        generonum = 03;
                    }else if(generoform == '99'){
                        generonum = 05;
                    }else{
                        generonum = 0;
                    }


                    if(diabetesform == false){
                        diabetesnum = 0
                    }else if(diabetesform == true){
                        diabetesnum = 17
                    }
                    if(epocform == false){
                        epocnum = 0
                    }else if(epocform == true){
                        epocnum = 7
                    }
                    if(asmaform == false){
                        asmanum = 0
                    }else if(asmaform == true){
                        asmasnum = 10
                    }
                    if(inmusuprform == false){
                        inmusuprnum = 0
                    }else if(inmusuprform == true){
                        inmusuprnum = 5
                    }
                    if(tabaquismoform == false){
                        tabaquismonum = 0
                    }else if(tabaquismoform == true){
                        tabaquismonum = 10
                    }
                    if(cardiovascularform == false){
                        cardiovascularnum = 0
                    }else if(cardiovascularform == true){
                        cardiovascularnum = 18
                    }
                    if(obesidadform == false){
                        obesidadnum = 0
                    }else if(obesidadform == true){
                        obesidadnum = 21
                    }
                    if(renal_cronicaform == false){
                        renal_cronicanum = 0
                    }else if(renal_cronicaform == true){
                        renal_cronicanum = 9
                    }
                    if(otro_casoform == false){
                        otro_casonum = 0
                    }else if(otro_casoform == true){
                        otro_casonum = 13
                    }       


                    suma = edadnum+generonum+diabetesnum+epocnum+asmanum+inmusuprnum+tabaquismonum+cardiovascularnum+obesidadnum+renal_cronicanum+otro_casonum;
                    //this.show_modal = true;
                    //this.input_errors.push(suma+"%");
                    console.log(suma+"%");
                    var ver = document.getElementById('pre');
                    ver.append("El nivel de mortalidad es de: "+suma+"%");

                    document.getElementById('btninicio').setAttribute('disabled','');

                    


                },

                predict() {

                    let num_errors = 0;

                    if (this.nombre == '') {
                        this.input_errors.push("Nombre");
                        this.showModal();
                        num_errors++;
                    }
                    if (this.sexo == '') {
                        this.input_errors.push("Género");
                        this.showModal();
                        num_errors++;
                    }
                    if (this.entidad_res == '') {
                        this.input_errors.push("Estado de residencia");
                        this.showModal();
                        num_errors++;
                    }
                    if (this.edad == '') {
                        this.input_errors.push("Edad");
                        this.showModal();
                        num_errors++;
                    }
                    if (this.clasificacion_final == '') {
                        this.input_errors.push("Diagnóstico de COVID-19");
                        this.showModal();
                        num_errors++;
                    }

                    if (num_errors > 0) {
                        return null;
                    }
                    


                    const urlbase = 'https://' + location.host;
                    console.log(urlbase);

                    fetch(`${urlbase}/predict?sexo=${this.sexo}&entidad_res=${this.entidad_res}&neumonia=${this.getValue(this.neumonia)}&edad=${this.edad}&diabetes=${this.getValue(this.diabetes)}&epoc=${this.getValue(this.epoc)}&asma=${this.getValue(this.asma)}&inmusupr=${this.getValue(this.inmusupr)}&hipertension=${this.getValue(this.hipertension)}&otra_com=${this.getValue(this.otra_com)}&cardiovascular=${this.getValue(this.cardiovascular)}&obesidad=${this.getValue(this.obesidad)}&renal_cronica=${this.getValue(this.renal_cronica)}&tabaquismo=${this.getValue(this.tabaquismo)}&otro_caso=${this.getValue(this.otro_caso)}&clasificacion_final=2`)
                        .then(res => res.json())
                        .then(data => {
                            if (data.result == '1')
                                this.message = "bajo riesgo de mortalidad.";
                            if (data.result == '2')
                                this.message = "alto riesgo de mortalidad.";
                            this.modoEditar = false;
                        })
                        .catch(console.log);
                },
                modoEdicion() {
                    this.modoEditar = true;
                    this.nombre = '';
                    this.sexo = '';
                    this.entidad_res = '';
                    this.neumonia = false;
                    this.edad = '';
                    this.diabetes = false;
                    this.epoc = false;
                    this.asma = false;
                    this.inmusupr = false;
                    this.hipertension = false;
                    this.otra_com = false;
                    this.cardiovascular = false;
                    this.obesidad = false;
                    this.renal_cronica = false;
                    this.tabaquismo = false;
                    this.otro_caso = false;
                    this.clasificacion_final = '';
                },
                showModal() {
                    this.show_modal = true;
                },
                hideModal() {
                    this.input_errors = [];
                    this.show_modal = false;
                },
                
                getValue(item) {
                    return item ? 1 : 2
                }
            }
        })
    </script>
</body>

</html>